.explore-exercises {
    margin-top: 45px;
    text-decoration: none;
    width: 200px;
    text-align: center;
    background: #FF2625;
    padding: 14px;
    font-size: 22px;
    text-transform: none;
    color: white;
    border-radius: 4px
}